<%# sub-partial for list_of_comments partial, is the form for adding a new comment. %>
<%= form_for(@user_key, url: add_comment_path(@user_key)) do |f| %>
  <fieldset>
  <legend>Add a comment</legend>

  <%# llow new comment to be added  %>
  <%= f.fields_for :comments, @comment do |p| %>

    <div class="row">
	<%= p.label :message %>
	<%= p.text_field :message %>
    </div>

    <%#  Only admin is allowed to make a post visible to the requester  %>
    <% if @current_user.role? :admin %>
      <div class="row">
	  <%= p.label "Check here to post this comment as a note to the requester." %>
	  <%= p.check_box :public %>
      </div>
    <% end %>

  <% end %>

  <div class="actions">
    <%= f.submit class: "big-button", value: "Add comment", data: {disable_with: "Please Wait..." } %>
  </div>

  </fieldset>
<% end %>
