  <fieldset class="admin_only">
    <h3>Admin only</h3>

    <hr/>

    <%#  Buttons for progressing approval process  %>
    <%= render partial: 'user_keys/show_partials/approval_buttons' %>
    | <%= link_to 'Edit access rights', edit_user_key_path(@user_key), class: "big-button" %>
    | <%= link_to 'Back to keys list', user_keys_path, class: "big-button secondary" %>
    <br/>

    <%#  Currently no restrictions exist for delete. %>
    <span class="has-tip tip-top" data-tooltip aria-haspopup="true" title="This action will remove this key and its application data from the system.
    The requester will not be notified.">
    <%= link_to 'Delete', @user_key, method: :delete,
                 data: { confirm: 'Are you sure? The application will be deleted, and the requester will be notified that their application has been terminated.' }, class: "small-button" %>
    </span>

    <%#   Reset is currently only available after submission and before confirmation. %>
    <% if @user_key.at_stage? :awaiting_confirmation or @user_key.at_stage? :awaiting_filters %>
      | <span class="has-tip tip-top" data-tooltip aria-haspopup="true" title="This action will send the application back to its requester so that the requester can make changes as needed.
      Until the application is resubmitted by the requester, it will no longer be visible to staff. The requester will automatically be notified.">
                 <%= link_to 'Remand', set_as_reset_path(@user_key), method: :patch,
                 data: { disable_with: "Please Wait..." },
                 data: { confirm: 'Are you sure? The key application and comments will be returned to the requester.' },
                 class: "small-button" %>

        </span>
    <% end %>
  </fieldset>
