
<strong>1.</strong><p><%= @user_key.proposal_text_one %></p>

<br/>

<strong>2.</strong><p><%= @user_key.proposal_text_two %></p>

<br/>

<strong>3.</strong><p><%= @user_key.proposal_text_three %></p>

<br/>

<strong>4.</strong><p><%= @user_key.proposal_text_four %></p>

<br/>

<strong>5.</strong><p><%= @user_key.proposal_text_five %></p>

<br/>

<strong>6.</strong><p><%= @user_key.proposal_text_six %></p>

<br/>

<strong>7.</strong><p><%= @user_key.proposal_text_seven %></p>

<br/>

<strong>8.</strong><p><%= @user_key.proposal_text_eight.blank? ? 'N/A' :
                         @user_key.proposal_text_eight %></p>