<ol>
<li><%= @user_key.proposal_text_one %></li>
<li><%= @user_key.proposal_text_two %></li>
<li><%= @user_key.proposal_text_three %></li>
<li><%= @user_key.proposal_text_four %></li>
<li><%= @user_key.proposal_text_five %></li>
<li><%= @user_key.proposal_text_six %></li>
<li><%= @user_key.proposal_text_seven %></li>
<!-- Number 8 is optional-->
<li><%= @user_key.proposal_text_eight.blank? ? 'N/A' : @user_key.proposal_text_eight %></li>
</ol>