<!--Show existing comments -->
<h3>Comments</h3>

<br/>
<div id="comments">
  <%= render partial: 'user_keys/show_partials/comment', collection: @comments %>
</div>

<!--All new comment to be added-->
<%= form_for(@user_key, url: add_comment_path(@user_key), remote: true ) do |f| %>
  <fieldset>
  	  
  <legend>Add a comment</legend>
	 
  <% if @user_key.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_key.errors.count, "error") %> prohibited this user_key from being saved:</h2>

      <ul>
      <% @user_key.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.fields_for :comments, @comment do |p| %>
	<div class="row">
	    <%= p.label :message %>
	    <%= p.text_field :message %>
	</div>
  <% end %>
  
  <div class="actions">
    <%= f.submit class: "big-button success", value: "Add comment" %>
  </div>
  
  </fieldset>
  
<% end %>
