
<% for resourceName in Resource::RESOURCE_LIST %>
  
  <hr/>
  
  <h3><strong><%= resourceName.capitalize %></strong></h3>
  
  <!-- Whitelists -->
  <% whitelists = @user_key.whitelists.restrict_to(resourceName).chronological %>

  <br/>
  
  <div class="row">
    <div class="column">
    <h4>Rows</h4>
      
    <% if !whitelists.empty? %>
      <ul class="no_bullets">
        <% first_word_and = "" %>
        <% first_word_or = "" %>
        <% for whitelist in whitelists %>
            <em><%= first_word_or %></em>
            <ul>
              <% for filter in whitelist.filters %>                
                <li><%= first_word_and %><span class="success"><%= filter.name %></li></span>
                 <% first_word_and = "and " %>
                 <% first_word_or = "or " %>
              <% end %>
            </ul>
        <% end %>
      </ul>
    <% else %>
      <p>None</p>
    <% end %>
    </div>
    
      <!-- Columns -->
      <div class="column">
      <h4>Columns</h4>
      <% columns = @user_key.columns.restrict_to(resourceName).alphabetical %>
      <% if !columns.empty? %>
        <ul>
          <% for col in columns %>
            <li><span class="success"><%= col.name %></span></li>
          <% end %>
        </ul>
      <% else %>
      <p>None</p>
      <% end %>
    
      </div>
  </div>
  
<% end %>
