<%= form_for(@question) do |f| %>
  <fieldset>

  <%= render 'shared/error_messages', object: @question %>

  <div class="collapsed_row">
    <div class="s3">
      <%= f.label :message, class: "prefix" %>
    </div>
    <div class="s9">
      <%= f.text_area :message %>
    </div>
  </div>
  <div class="collapsed_row">
    <%= f.check_box :required %>
    <%= f.label :required %>
  </div>
  
  <br/>
  
  <div class="actions">
      <span class="has-tip tip-top" data-tooltip aria-haspopup="true" title="This action will save any changes to this question.
      Editing an existing question will change how that question appears on existing applications. New questions will be ignored by existing applications.">
        <%= f.submit class: "big-button success" %>
      </span>|
    <%= link_to 'Cancel', questions_url, class: "big-button secondary" %>
  </div>
  
  </fieldset>
<% end %>

<%= render 'shared/markdown_help' %>
