<%= form_for(@user) do |f| %>
  <fieldset>

  <%= render 'shared/error_messages', object: @user %>

  <p>
    <strong>Andrew:</strong>
    <%= @user.andrew_id %>
  </p>

  <div class="collapsed_row">
    <div class="s3">
      <%= f.label :role, class: "prefix" %>
    </div>
    <div class="s9">
      <%= f.select :role, User::ROLE_LIST.invert %>
    </div>
  </div>
  <div class="collapsed_row">
    <%= f.check_box :active %>
    <%= f.label :active %>
  </div>

  <br/>

  <div class="actions">
    <span class="has-tip tip-top" data-tooltip aria-haspopup="true"
      title="This action will save any changes made for this user's account.">
    <%= f.submit class: "big-button success" %>
    </span>|
    <%= link_to 'Cancel', @user, class: "big-button secondary" %>
  </div>

  </fieldset>

<% end %>
