<%= form_for(@user) do |f| %>
  <fieldset>

  <%= render 'shared/error_messages', object: @user %>

  <p>
    <strong>Andrew:</strong>
    <%= @user.andrew_id %>
  </p>
  
  <div class="collapsed_row">
    <div class="three-column">
      <%= f.label :role, class: "prefix" %>
    </div>
    <div class="nine-column">
      <%= f.select :role, User::ROLE_LIST %>
    </div>
  </div>
  <div class="collapsed_row">
    <%= f.check_box :active %>
    <%= f.label :active %>
  </div>
  
  <br/>
  
  <div class="actions">
    <%= f.submit class: "big-button success" %> |
    <%= link_to 'Cancel', @user, class: "big-button secondary" %>
  </div>
  
  </fieldset>
  
<% end %>
