<%= form_for(@user) do |f| %>
  <fieldset>

  <%= render 'shared/error_messages', object: @user %>

  <div class="collapsed_row">
    <div class="three-column">
      <%= f.label :andrew_id, class: "prefix" %>
    </div>
    <div class="nine-column">
      <%= f.text_field :andrew_id %>
    </div>
  <div class="collapsed_row">
    <div class="three-column">
      <%= f.label :role, class: "prefix" %>
    </div>
    <div class="nine-column">
      <%= f.select :role, User::ROLE_LIST %>
    </div>
  </div>
  <div class="collapsed_row">
    <%= f.check_box :active %>
    <%= f.label :active %>
  </div>
  
  <br/>
  
  <div class="actions">
    <%= f.submit class: "big-button success" %>
  </div>
  
  </fieldset>
  
<% end %>
