<p>
  <strong>Andrew:</strong>
  <%= @user.andrew_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Is approver:</strong>
  <% if @user.is_approver %>
    <span class="success label">Yes</span>
  <% else %>
    <span class="secondary label">No</span>
  <% end %>
</p>

<%= render partial: 'users/show_partials/list_of_user_keys' %>

<%= link_to 'Edit', edit_user_path(@user), class: "big-button" %> |
<%= link_to 'Back', users_path, class: "big-button secondary" %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "small-button" %>
