<p>
  <strong>Andrew:</strong>
  <%= @user.andrew_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Active:</strong>
  <%= render partial: 'shared/boolean_label', locals: { boolean_label: @user.active, true_message: "Yes", false_message: "No" } %>
</p>

<%= render partial: 'shared/list_of_user_keys' %>

<%= link_to 'Edit user', edit_user_path(@user), class: "big-button" %> |
<%= link_to 'Back to users list', users_path, class: "big-button secondary" %>