<div class="panel"> 

<h5> Hi, [user]!  </h5>
<br /> 

<p> These keys do not have filter assignments yet: </p>
<% if @pending_filter_keys.size > 0 %>
<table>
  <tr>
    <th>Requester</th>
    <th>Date Submitted</th>
  </tr>
<% @pending_filter_keys.each do |key| %>
  <tr>
    <td><%= key.user.andrew_id %></td>
    <td><%= key.time_submitted.to_formatted_s(:pretty)%></td>
  </tr>
<% end %>
</table>

<% else %>
<% end %>

<p> These keys are pending approval: </p>

<% if @pending_approval.size > 0 %>
<table>
  <tr>
    <th>Requester</th>
    <th>Date Submitted</th>
  </tr>
<% @pending_approval.each do |key| %>
  <tr>
    <td><%= key.user.andrew_id %></td>
    <td><%= key.time_submitted.to_formatted_s(:pretty)%></td>
  </tr>
<% end %>
</table>

<% else %>
<% end %>

<p> Existing keys: </p> 

<% if @confirmed_keys.size > 0 %>
<table>
  <tr>
    <th>Requester</th>
    <th>Date Comfirmed</th>
  </tr>
<% @confirmed_keys.each do |key| %>
  <tr>
    <td><%= key.user.andrew_id %></td>
    <td><%= key.time_confirmed.to_formatted_s(:pretty)%></td>
  </tr>
<% end %>
</table>

<% else %>
<% end %>

</div>