<p><%= link_to  'Apply for a new key', new_user_key_path, class: "big-button" %></p>

<h3>Your Existing Keys</h3>
<% if @confirmed_keys.size > 0 %>
<table>
  <tr>
    <th>Key</th>
    <th>Value</th>
    <th>Expiry Date</th>
  </tr>
<% @confirmed_keys.each do |key| %>
  <tr>
    <td><%= link_to key.display_name, user_key_path(key) %></td>
    <td><input id="key" type="text" value =<%= key.gen_api_key %>> </input></td>
    <td><%= key.time_expired ? key.time_expired.to_formatted_s(:long_ordinal)  : "N/A" %></td>
  </tr>
<% end %>
</table>
<% else %>
<p>None</p>
<% end %>
<br/>

<h3>Your Incomplete Applications</h3>
<% if @in_progress.size > 0 %>
<table>
  <tr>
    <th>Key</th>
    <th>Date Started</th>
  </tr>
<% @in_progress.each do |key| %>
  <tr>
    <td><%= link_to key.display_name, user_key_path(key) %></td>
    <td><%= key.created_at.to_formatted_s(:pretty) %></td>
  </tr>
<% end %>
</table>
<% else %>
<p>None</p>
<% end %>
<br/>

<h3>Your Pending Key Requests</h3>
<% if @awaiting_admin_review.size > 0 %>
<table>
  <tr>
    <th>Key</th>
    <th>Date Started</th>
  </tr>
<% @awaiting_admin_review.each do |key| %>
  <tr>
    <td><%= link_to key.display_name, user_key_path(key) %></td>
    <td><%= key.created_at.to_formatted_s(:pretty) %></td>
  </tr>
<% end %>
</table>
<% else %>
<p>None</p>
<% end %>
<br/>

<h3>Your Expired Keys</h3>
<% if @expired_keys.size > 0 %>
<table>
  <tr>
    <th>Key</th>
    <th>Expiry Date</th>
  </tr>
<% @expired_keys.each do |key| %>
  <tr>
    <td><%= link_to key.display_name, user_key_path(key) %></td> 
    <td><%= key.time_expired ? key.time_expired.to_formatted_s(:long_ordinal) : "N/A" %></td>
  </tr>
<% end %>
</table>
<% else %>
<p>None</p>
<% end %>