<%= form_for(@user_key) do |f| %>
  <fieldset>
    
  <!-- Explain the text shown to admins as data that was entered by the requester-->
  <% if @current_user.role == "admin" %>
    <h3>Data entered by requester</h3>
    <p><i>This information was entered by the requester.</i></p>
  <% end %>

  <%= render 'shared/error_messages', object: @user_key %>
  
  <!-- Application text boxes. -->
  <!-- Note that the form object is passed in as :f-->
  <%= render partial: 'user_keys/form_partials/application_text', locals: {:f=>f} %>

  <!-- The key should belong to the current user when first created, handled in controller -->

  <%= render partial: 'user_keys/form_partials/terms', locals: {:f=>f} %>
  
  </fieldset>
  
  <% if @current_user.role == "admin" %>
    
    <!-- Only admins can assign filters, and they can do so at any time -->
    <fieldset>
      
      <h3>Admin only</h3>
      
      <p><i>Set filters and organizations that this key may have access to here.</i></p>
    
      <%= render partial: 'user_keys/form_partials/filters_checkboxes' %>
      <%= render partial: 'user_keys/form_partials/organizations_checkboxes' %>    
    
      <div class="collapsed_row"> <!--Expiration date-->
        <div class="three-column">
          <%= f.label :time_expired, value: "Expiration Date", class: "prefix" %>
        </div>
        <div class="nine-column">
          <%= f.date_field :time_expired, order: [:month, :day, :year], 
                          start_year: Date.today.year, end_year: 2.years.from_now %>
        </div>
      </div>
      
    </fieldset>
    
    <!-- Active or not active -->
    <fieldset>
      
      <!-- Only admins can inactive a key -->
      <div class="collapsed_row">
        <%= f.check_box :active %>
        <%= f.label :active %>
      </div>
      
      <p>Note: marking a key application as <i>inactive</i>
      suspends the application process. Marking a confirmed key as <i>inactive</i>
      suspends all API use of the key.</p>
    </fieldset>
  <% end %>

  <br/>
  
  <div class="actions">
    <%= f.submit class: "big-button success" %>
  </div>
  
<% end %>
