<%= form_for(@user_key) do |f| %>
  <% if @user_key.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_key.errors.count, "error") %> prohibited this user_key from being saved:</h2>

      <ul>
      <% @user_key.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :date_requested %><br>
    <%= f.date_select :date_requested %>
  </div>
  <div class="field">
    <%= f.label :expiration_date %><br>
    <%= f.date_select :expiration_date %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :application_text %><br>
    <%= f.text_field :application_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
