<%= form_for(@user_key) do |f| %>
  <fieldset>

  <% if @user_key.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_key.errors.count, "error") %> prohibited this user_key from being saved:</h2>

      <ul>
      <% @user_key.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="collapsed_row">
    <div class="three-column">
      <%= f.label :user, class: "prefix" %>
    </div>
    <div class="nine-column">
      <%= f.collection_select :user_id, User.alphabetical, :id, :andrew_id %>
    </div>
  </div>
  <div class="collapsed_row">
    <div class="three-column">
      <%= f.label :time_expired, class: "prefix" %>
    </div>
    <div class="nine-column">
      <%= f.date_field :time_expired, order: [:month, :day, :year], 
                      start_year: Date.today.year, end_year: 2.years.from_now %>
    </div>
  </div>
  <div class="collapsed_row">
    <div class="three-column">
      <%= f.label :application_text, class: "prefix" %>
    </div>
    <div class="nine-column">
      <%= f.text_field :application_text %>
    </div>
  </div>
  
  <%= render :partial => 'filters_checkboxes' %>
  
  <div class="actions">
    <%= f.submit class: "big-button success" %>
  </div>
  
  </fieldset>
<% end %>
