<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @user_key.status %>
</p>

<p>
  <strong>Time submitted:</strong>
  <%= @user_key.time_submitted %>
</p>

<p>
  <strong>Value:</strong>
  <%= @user_key.value %>
</p>

<p>
  <strong>Application text:</strong>
  <%= @user_key.application_text %>
</p>

<%= render :partial => 'list_of_filters' %>

<%= link_to 'Edit', edit_user_key_path(@user_key) %> |
<%= link_to 'Back', user_keys_path %>
