<h3>User Key</h3>

<%= render 'shared/error_messages', object: @user_key %>

<%= render partial: 'user_keys/show_partials/approval_status' %>

<p>
  <% if @user_key.at_stage? :confirmed %>
    <i class="fi-check success"></i>&nbsp;This approval is complete.</i>
  <% else %>
    <i class="fi-x alert"></i>&nbsp;<i>This approval is incomplete.</i>
  <% end %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @user_key.user.andrew_id, @user_key.user  %>
</p>

<p>
  <strong>Time submitted:</strong>
  <%= @user_key.time_submitted.nil? ? "Not submitted yet" : @user_key.time_submitted.to_formatted_s(:pretty) %>
</p>

<p> 
  <strong>Time shared with approvers:</strong>
  <%= @user_key.time_filtered.nil? ? "Not shared with approvers yet" : @user_key.time_filtered.to_formatted_s(:pretty) %>
</p>

<p>
  <strong>Time confirmed:</strong>
  <%= @user_key.time_confirmed.nil? ? "Not confirmed yet" : @user_key.time_confirmed.to_formatted_s(:pretty) %>
</p>

<p>
  <strong>Value:</strong>
  <%= @user_key.value %>
</p>

<p>
  <strong>Application text:</strong>
  <%= @user_key.application_text %>
</p>

<p>
  <strong>Active:</strong>
  <%= render partial: 'shared/boolean_label', locals: { boolean_label: @user_key.active } %>
</p>

<% if can? :read, :all %>  

    <%= render partial: 'user_keys/show_partials/list_of_filters' %>

    <%= render partial: 'user_keys/show_partials/list_of_organizations' %>

    <%= render partial: 'user_keys/show_partials/approval_checkbox' %>

    <%= render partial: 'user_keys/show_partials/submit_buttons' %>
    
<% end %>  

<%= link_to 'Edit', edit_user_key_path(@user_key), class: "big-button" %> |
<%= link_to 'Back', user_keys_path, class: "big-button secondary" %>
<br/>
<%= link_to 'Reset', set_as_reset_path(@user_key), method: :patch,
             data: { confirm: 'Are you sure? The key application and comments will be returned to the requester.' },
             class: "small-button" %> |
<%= link_to 'Delete', @user_key, method: :delete,
             data: { confirm: 'Are you sure? The application will be deleted, and the requester will be notified that their application has been terminated.' }, class: "small-button" %>

<%= render partial: 'user_keys/show_partials/list_of_approvers' %>

<div id="comments">
<%= render partial: 'user_keys/show_partials/list_of_comments' %>
</div>