<h3><%=@user_key.display_name %>&nbsp;
  <small> for
    <% if @current_user.role? :is_staff %>
      <%= link_to @user_key.user.andrew_id, @user_key.user %>
    <% else %>
      <%= @user_key.user.andrew_id %>
    <% end %>
  </small>
</h3>

<hr/>

<%= render 'shared/error_messages', object: @user_key %>

<%# Only Staff should see this status bar. %>
<% if @current_user.role? :is_staff %>
  <%= render partial: 'user_keys/show_partials/approval_status' %>
<% end %>

<%# Everyone can see most of the following information. %>
    <%#  TODO show expires, active  %>

<table>
  <tr>
    <th>
      API Key Value
    </th>
  </tr>
  <tr>
    <td>
      <%= @user_key.gen_api_key || "<em>Your key is not currently available.</em>"%>
    </td>
  </th>
</table>

<p>
  <strong>Application text:</strong>
  <%= render partial: 'user_keys/show_partials/application_text' %>
</p>

<%# Show notes from Admin %>
<div class="public_comments">
  <%= render partial: 'user_keys/show_partials/sublist_of_comments', locals: { comments: @public_comments, comment_type: "Messages from Administrator" } %>
</div>
<%# End of public information. %>

<%# Staffmembers see private information %>
<% if @current_user.role? :is_staff %>
  <div class="staff_only panel">
  <h3>Staff only</h3>
  <hr/>

    <%= render partial: 'user_keys/show_partials/list_of_objects', locals: { object_name: "Column", object_symbol: :columns} %>

    <%= render partial: 'user_keys/show_partials/list_of_objects', locals: { object_name: "Filter", object_symbol: :filters} %>

    <%= render partial: 'user_keys/show_partials/list_of_organizations' %>

    <%#  Show the key's approvers if the key is at the approval stage or later.  %>
    <% if @user_key.at_stage? :awaiting_confirmation or @user_key.at_stage? :confirmed %>
      <%= render partial: 'user_keys/show_partials/list_of_approvers' %>
    <% end %>

  </div>
<% end %>

<%# End of general staff-only information. %>

<%# Approvers submit their approval here %>
<% if @user_key.at_stage? :awaiting_confirmation and @current_user.role? :is_approver %>
  <%= render partial: 'user_keys/show_partials/approval_checkbox' %>
<% end  %>

<%# Confirm, reset, delete, and apply filters here. %>
<% if @current_user.role? :admin and !(@user_key.at_stage? :awaiting_submission) %>
  <%= render partial: 'user_keys/show_partials/admin_only' %>
<%# Otherwise, key owner can submit the key or edit request. %>
<% elsif @current_user.owns?(@user_key) and @user_key.at_stage? :awaiting_submission %>
  <%= render partial: 'user_keys/show_partials/submit_buttons' %>
<% end %>

<%= render partial: 'user_keys/show_partials/list_of_comments' %>
