<h3><%=@user_key.name%></h3>

<%= render 'shared/error_messages', object: @user_key %>

<!-- Only Staff should see this status bar.-->
<% if @current_user.role? :is_staff %>
  <%= render partial: 'user_keys/show_partials/approval_status' %>
<% end %> 

<!-- Everyone can see the following information.-->
<p>
  <% if @user_key.at_stage? :confirmed %>
    <i class="fi-check success"></i>&nbsp;The request for this key has been completed.</i>
  <% else %>
    <i class="fi-x alert"></i>&nbsp;<i>This key request is incomplete.</i>
  <% end %>
</p>

<p>
  <strong>Value:</strong>
  <%= @user_key.gen_api_key %>
</p>

<p>
  <strong>Expires:</strong>
  <%= @user_key.time_expired.nil? ? "N/A" : @user_key.time_expired.to_formatted_s(:pretty) %>
  <!-- Green/red expired label-->
  <%= render partial: 'shared/boolean_label', locals: { boolean_label: !@user_key.expired?, true_message: "Currently Available for Use", false_message: "Expired" } %>
</p>

<p>
  <strong>Application text:</strong>
  <%= render partial: 'user_keys/show_partials/application_text' %>
</p>

<p>
  <strong>Agreed to terms:</strong>
  <% if @user_key.agree %>
  <i class="fi-check success"></i>
  <% else %>
    <i class="fi-x alert"></i>
  <% end %>
</p>

<!--Show notes from Admin -->
<div class="public_comments">
  <%= render partial: 'user_keys/show_partials/sublist_of_comments', locals: { comments: @public_comments, comment_type: "Messages from Administrator" } %>
</div> 
<!-- End of public information. -->

<!-- Staffmembers see private information -->
<% if @current_user.role? :is_staff %>
  <div class="staff_only panel">
  <h3>Staff only</h3>
  <hr/>
        
    <p>
      <strong>User:</strong>
      <%= link_to @user_key.user.andrew_id, @user_key.user  %>
    </p>
    
    <p>
      <strong>Time submitted:</strong>
      <%= @user_key.time_submitted.nil? ? "Not submitted yet" : @user_key.time_submitted.to_formatted_s(:pretty) %>
    </p>
    
    <p> 
      <strong>Time shared with approvers:</strong>
      <%= @user_key.time_filtered.nil? ? "Not shared with approvers yet" : @user_key.time_filtered.to_formatted_s(:pretty) %>
    </p>
    
    <p>
      <strong>Time confirmed:</strong>
      <%= @user_key.time_confirmed.nil? ? "Not confirmed yet" : @user_key.time_confirmed.to_formatted_s(:pretty) %>
    </p>
    
    <p>
      <strong>Active:</strong>
      <%= render partial: 'shared/boolean_label', locals: { boolean_label: @user_key.active, true_message: "Yes", false_message: "No" } %>
    </p>
    
    <%= render partial: 'user_keys/show_partials/list_of_objects', locals: { object_name: "Column", object_symbol: :columns} %>
    
    <%= render partial: 'user_keys/show_partials/list_of_objects', locals: { object_name: "Filter", object_symbol: :filters} %>
  
    <%= render partial: 'user_keys/show_partials/list_of_organizations' %>
    
    <!-- Show the key's approvers if the key is at the approval stage or later. -->
    <% if @user_key.at_stage? :awaiting_confirmation or @user_key.at_stage? :confirmed %>
      <%= render partial: 'user_keys/show_partials/list_of_approvers' %> 
    <% end %>
    
  </div>
<% end %>

<!-- End of general staff-only information. -->

<!-- Approvers submit their approval here -->
<% if @user_key.at_stage? :awaiting_confirmation and @current_user.role? :is_approver %>
  <%= render partial: 'user_keys/show_partials/approval_checkbox' %>
<% end  %>

<!-- Confirm, reset, delete, and apply filters here. -->
<% if @current_user.role? :admin and !(@user_key.at_stage? :awaiting_submission) %>
  <%= render partial: 'user_keys/show_partials/admin_only' %>
<!-- Otherwise, key owner can submit the key or edit request.-->
<% elsif @current_user.owns?(@user_key) and @user_key.at_stage? :awaiting_submission %>
  <%= render partial: 'user_keys/show_partials/submit_buttons' %>
<% end %>
             
<%= render partial: 'user_keys/show_partials/list_of_comments' %>