<h3><%=@user_key.display_name %>&nbsp;
  <small> for
    <% if @current_user.role? :is_staff %>
      <%= link_to @user_key.user.andrew_id, @user_key.user %>
    <% else %>
      <%= @user_key.user.andrew_id %>
    <% end %>
  </small>
</h3>

<hr/>

<%= render 'shared/error_messages', object: @user_key %>

<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#statusPanel">Status</a></li>
  <% if @current_user.role? :is_staff %>
  <li class="tab-title"><a href="#permissionsPanel">Permissions</a></li>
  <%else%>
    <li class="tab-title"><a href="#documentationPanel">Documentation</a></li>
  <%end%>
  <li class="tab-title"><a href="#commentsPanel">Comments</a></li>
</ul>

<div class="tabs-content">


<div class="content active" id="statusPanel">

<!-- Only Staff should see this status bar.-->
<% if @current_user.role? :is_staff %>
  <%= render partial: 'user_keys/show_partials/approval_status' %>
<% end %> 

<%# Everyone can see most of the following information. %>
    <%#  TODO show expires, active  %>

<table>
  <tr>
    <th>
      API Key Value
    </th>
  </tr>
  <tr>
    <td>
      <%= @user_key.gen_api_key || "<em>Your key is not currently available.</em>"%>
    </td>
  </th>
</table>

<p>
  <strong>Application text:</strong>
  <%= render partial: 'user_keys/show_partials/application_text' %>
</p>

<%# Show notes from Admin %>
<div class="public_comments">
  <%= render partial: 'user_keys/show_partials/sublist_of_comments', locals: { comments: @public_comments, comment_type: "Messages from Administrator" } %>
</div>
<%# End of public information. %>

<%# Staffmembers see private information %>
<% if @current_user.role? :is_staff %>
  <div class="staff_only panel">
  <h3>Staff only</h3>
  <br>
    
    <%= render partial: 'user_keys/show_partials/list_of_resources' %>
    <%= render partial: 'user_keys/show_partials/list_of_organizations' %>
    
  </div>
  
  
  <% if @user_key.at_stage? :awaiting_confirmation %>
  <div class="staff_only panel row">
  <!-- Show the key's approvers if the key is at the approval stage. -->
      <div class="column">
        <%= render partial: 'user_keys/show_partials/list_of_approvers' %>
      </div>
      <div class="column">
        <% if @current_user.role? :is_approver %>
          <%= render partial: 'user_keys/show_partials/approval_checkbox' %>
        <% end %>
      </div>
  </div>
  <% end %>  
<% end %>

<!-- End of general staff-only information. -->



</div>
<!-- End of permisisons panel -->

<div class="content" id="documentationPanel">

<!-- FIXME add dynamic documentation content here -->

</div>


<div class="content" id="commentsPanel">
<!--Show notes from Admin -->
<div class="public_comments">
  <%= render partial: 'user_keys/show_partials/sublist_of_comments', locals: { comments: @public_comments, comment_type: "Messages from Administrator" } %>
</div> 
<%= render partial: 'user_keys/show_partials/list_of_comments' %>
</div>
<!-- End of comments panel -->

<!-- Confirm, reset, delete, and apply filters here. -->
<% if @current_user.role? :admin and !(@user_key.at_stage? :awaiting_submission) %>
  <%= render partial: 'user_keys/show_partials/admin_only' %>
<!-- Otherwise, key owner can submit the key or edit request.-->
<% elsif @current_user.owns?(@user_key) and @user_key.at_stage? :awaiting_submission %>
  <%= render partial: 'user_keys/show_partials/submit_buttons' %>
<% end %>

</div>
