<div class="row">
  <div class="nine-column">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <small> Your application name.</small>
  </div>
</div>

<br/>

<ol>
  
<%= f.fields_for :answers do |answer_form| %>
  
     <li><strong><%= "(Required)" if answer_form.object.question.required %></strong>
      <%= answer_form.object.question.message %>
     </li>
     <br/>
     
     <div class="row">
      <%= answer_form.hidden_field :question_id %>
      <%= answer_form.text_area :message %>
      </div>
               
      <br/>
    <% end %>
    
  </ol>
