<% for resource in Resource::RESOURCE_LIST %>
  <div class="row">
    <h2><%= resource.capitalize %></h2>
    
    <div class="column">
    <h4>Rows</h4>
    <% @user_key.whitelists.restrict_to(resource).to_a.each do |whitelist| %>

      
      <%= f.fields_for :whitelists, whitelist do |p| %>
      

        <%= p.hidden_field :resource, value: resource %>
         
       <%= p.link_to_remove "Remove this task" %>
        <% if Filter.restrict_to(resource).empty? %>
          None exist in the system.
        <% else %>
          <% %><!--(!p.object.nil? && p.object.filters.include?(filter))  -->
              <%= p.collection_check_boxes :filter_ids, Filter.restrict_to(resource).alphabetical, :id, :name %>
            <% %>

        <% end %>
        
     <% end %>
     
    <% end %>
    
    <p><%= f.link_to_add "Add clause", :whitelists %></p>
    
    </div>

    <div class="column">
    <h4>Columns</h4>
      <% if Column.restrict_to(resource).empty? %>
      None exist in the system.
      <% else %>
          <% for column in Column.restrict_to(resource).alphabetical %>
              <%= check_box_tag "user_key[column_ids][]", column.id, @user_key.columns.include?(column) %>
              <%= column.name %>
              <br />
          <% end %>
      <% end %>
    </div>
  </div>  
<% end %>