<li>
  <%= f.label(:name) { "<b>Application Name</b>".html_safe } %>
  <%= f.text_field(:name, placeholder: "Something short but relevant.", size: 24) %>
</li>
<li>
  <%= f.label(:requester_type) {
    "<b>This application is being submitted on behalf of a</b>".html_safe
  } %>
  <%= f.select(:requester_type, UserKey.requester_types.
          keys.map { |k| [t("requester_types.#{k}.title"), k] },
          include_blank: true)
  %>
  <div id="requester-type-additional" class="hide">
    &nbsp;<span></span>:&nbsp;
    <%= f.text_field(:requester_additional_info) %>
  </div>
</li>

<% content_for :js do %>
  <script type="text/javascript">
  $(function() {
    var req_types = <%= t("requester_types").to_json.html_safe %>;
    var additional_q_div = $("#requester-type-additional");

    $("#user_key_requester_type").change(function() {
      var val = $(this).val();
      if (val === "") {
        additional_q_div.addClass("hide");
        return;
      }

      additional_q_div.removeClass("hide");
      additional_q_div.find("span").text(req_types[val]['additional_q']);
      additional_q_div.find("input").attr("placeholder", "e.g. " + req_types[val]['example']);
    });
  });
  </script>
<% end %>
