<!--Pass in object_class and object_name = "filters" or "column", object_non_plural = "filter"-->

<h3><%= object_name.capitalize.pluralize %></h3>

<p>
  <% if object_class.all.empty? %>
  No <%= object_name.pluralize %> can be selected because there are none in the system.
  <% else %>
    <% for resourceName in object_class.all.map{|f| f.resource} %>
      <h5><%= resourceName.capitalize + " " + object_name.capitalize.pluralize %></h5>
      <% for object in object_class.alphabetical %>
        <% if object.resource == resourceName %>
          <%= check_box_tag "user_key[#{object_name}_ids][]", object.id, @user_key.send(object_symbol).include?(object) %>
            <%= object.name %>
          <br />
        <% end %>
      <% end %>
    <% end %>  
  <% end %>
</p>