<% for resource in Resource::RESOURCE_LIST %>
  <hr/>

  <div class="row">
    <h2><%= resource.capitalize %></h2>

    <div class="small-5 columns">
    <h4>Rows</h4>

      <% @user_key.whitelists.restrict_to(resource).to_a.each do |whitelist| %>
        <%= f.fields_for :whitelists, whitelist do |p| %>
          <%= render partial: 'user_keys/form_partials/whitelist_fields',
                    locals: { f: p, resource: resource } %>
        <% end %>
      <% end %>

      <div id="<%= resource %>"> <!-- Nested form uses this #tag to add new nested form-->
        <br/>
        <%= link_to_add_association "Add #{resource} clause", f, :whitelists,
                                   partial: 'user_keys/form_partials/whitelist_fields',
                                   html_options: { data: { 'association-insertion-node' => 'this' }},
                                   render_options: { locals: { resource: resource } }, class: "small-button" %>
      </div>

    </div>

    <div class="small-7 columns">
    <h4>Columns</h4>
      <% if Column.restrict_to(resource).empty? %>
      None exist in the system.
      <% else %>
        <div class="checkbox_panel">
          <% Column.restrict_to(resource).alphabetical.in_groups_of(2, false) do |column_group| %>
            <div class="row no_bullets">
              <%= f.collection_check_boxes(:column_ids, column_group, :id, :name) do |b| %>
              <div class="small-6 columns">
              <li><%= b.label { b.check_box + ' ' + b.text} %></li>
              <% %>
              </div>
            <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div> <!-- End row div -->

<% end %>
