<%= form_for(@filter) do |f| %>
  <fieldset>

  <%= render 'shared/error_messages', object: @filter %>

  <div class="collapsed_row">
    <div class="three-column">
      <%= f.label :resource, class: "prefix" %>
    </div>
    <div class="nine-column">
       <div>
      <%= f.select :resource, Resource::RESOURCE_LIST %>
       </div>
    </div>
  </div>
  <div class="collapsed_row">
    <div class="three-column">
      <%= f.label :filter_name, class: "prefix" %>
    </div>
    <div class="nine-column">
      <%= f.select :filter_name, Resource::PARAM_NAME_HASH.sort %>
    </div>
 </div>
  <div class="collapsed_row">
    <div class="three-column">
      <%= f.label :filter_value, class: "prefix", allow_blank: true %>
    </div>
    <div class="nine-column">
      <%= f.text_field :filter_value %>
    </div>
  </div>
  <div class="collapsed_row">
    <%= f.submit class: "big-button success" %> | 
    <%= link_to 'Cancel', cancel_url, class: "big-button secondary" %>
  </div>
  
  </fieldset>
<% end %>
