<%= form_for(@filter) do |f| %>
  <% if @filter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@filter.errors.count, "error") %> prohibited this filter from being saved:</h2>

      <ul>
      <% @filter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="collapsed_row">
    <div class="three-column">
      <%= f.label :resource %>
    </div>
    <div class="nine-column">
      <%= f.text_field :resource %>
    </div>
  </div>
  <div class="collapsed_row">
    <div class="three-column">
      <%= f.label :filter_name %><br>
    </end>
    <div class="nine-column"
      <%= f.text_field :filter_name %>
    </div>
  </div>
  <div class="collapsed_row">
    <div class="three-column">
      <%= f.label :filter_value %>
    </div>
    <div class="nine-column">
      <%= f.text_field :filter_value %>
    </div>
  </div>
  <div class="collapsed_row">
    <%= f.submit class: "big-button success" %>
  </div>
<% end %>
