<%= markdown(Page.find_or_create("filter-instructions").message) %>

<%= form_for(@filter) do |f| %>
  <fieldset>

  <%= render 'shared/error_messages', object: @filter %>

  <div class="collapsed_row">
    <div class="s3">
      <%= f.label :resource, class: "prefix" do %>
        Resource
        <span class="has-tip tip-top" data-tooltip aria-haspopup="true" title="The resource to filter on.">
          ?
        </span>
      <% end %>
    </div>
    <div class="s9">
      <%= f.select :resource, Resources::RESOURCE_LIST %>
    </div>
  </div>
  <div class="collapsed_row">
    <div class="s3">
      <%= f.label :filter_name, class: "prefix" do %>
        Filter Name
        <span class="has-tip tip-top" data-tooltip aria-haspopup="true" title="The column to which the filter will be applied.">
          ?
        </span>
      <% end %>
    </div>
    <div class="s9">
      <%= f.select :filter_name, Resources::PARAM_NAME_HASH %>
    </div>
  </div>
  <div class="collapsed_row">
    <div class="s3">
      <%= f.label :filter_value, class: "prefix" do %>
        Filter Value
        <span class="has-tip tip-top" data-tooltip aria-haspopup="true" title="The value to filter by. Separate multiple values with commas (,). A wildcard (*) may also be used to allow for any value.">
          ?
        </span>
      <% end %>
    </div>
    <div class="s9">
      <%= f.text_field :filter_value %>
    </div>
  </div>
  <div class="collapsed_row">
    <span class="has-tip tip-top" data-tooltip aria-haspopup="true"
      title="This action will save any changes made to this filter.">
    <%= f.submit class: "big-button success" %>
    </span>|
    <%= link_to 'Cancel', cancel_url, class: "big-button secondary" %>
  </div>

  </fieldset>
<% end %>
