<h3>Filter Details</h3>

<p>
  <strong>Resource:</strong>
  <%= @filter.resource %>
</p>

<p>
  <strong>Filter name:</strong>
  <%= @filter.name %>
</p>

<%= render partial: 'shared/list_of_user_keys' %>

<%= link_to 'Back to filters list', filters_path, class: "big-button secondary" %>
<br/>
<%= link_to 'Delete filter', @filter, method: :delete, data: { confirm: 'Are you sure that you want to delete this filter?' },
            class: "small-button", disabled: !@filter.is_destroyable? %></td>
