<% cName = controller.controller_name %>
<% aName = controller.action_name %>

<ul id="nav-links" class="left">

  <%# Begin admin login check %>
  <% if @current_user %>
    <% if @current_user.role? :is_staff %>

      <li class="<%= 'active' if cName == 'users' %>">
        <%= link_to "Users", users_path %>
      </li>

      <li class="<%= 'active' if cName == 'user_keys' && aName != 'own_user_keys' %>">
        <%= link_to "User Keys", user_keys_path %>
      </li>

      <li class="<%= 'active' if cName == 'filters' %>">
        <%= link_to "Filters", filters_path %>
      </li>
      
      <li class="<%= 'active' if cName == 'organizations' %>">
        <%= link_to "Orgs", organizations_path %>
      </li>
      
      <li class="<%= 'active' if cName == 'questions' %>">
        <%= link_to "Settings", questions_path %>
      </li>

    <% end %>
  <% end %>
</ul>


<%# Right Nav Section %>
<ul id="drop-links" class="right">

  <% if @current_user %>
    <% if @current_user.role? :is_staff %>
        <li class="has-form" id="search-form">
          <div class="collapsed_row">

            <div id="searchbox">
              <div class="search-param s8">
                <%= text_field_tag :term, params[:term], {
                  "data-users-search-path" => users_search_path,
                  "data-keys-search-path" => user_keys_search_path,
                  "data-users-path" => users_path,
                  "data-keys-path" => user_keys_path,
                  placeholder: 'Search for...'
                } %>
              </div>
              <div class="search-label s4">
                <%= select_tag "search-type-select", options_for_select(["users","keys"]), class: "search-type-select postfix", id: "search-type-select" %>
              </div>
            </div>

          </div>
        </li>
    <% end %>

    <li class="has-dropdown">
      <a href="#">Welcome, <%= @current_user.first_name %>!</a>
      <ul class="dropdown">

        <li><%= link_to "My Keys", own_user_keys_path %></li>
              
        <li><%= link_to "Logout", logout_path %></li>

      </ul>
    </li>

  <% else %>

    <li><%= link_to "Login", login_path %></li>

  <% end %>

</ul>
