<% cName = controller.controller_name %>
<% aName = controller.action_name %>

<ul id="nav-links" class="left">

  <%# Begin admin login check %>
  <% if @current_user %>
    <% if @current_user.role? :is_staff %>

      <li class="<%= 'active' if cName == 'users' %>">
        <%= link_to "Users", users_path %>
      </li>

      <li class="<%= 'active' if cName == 'user_keys' && aName != 'own_user_keys' && aName != 'express' %>">
        <%= link_to "User Keys", user_keys_path %>
      </li>

      <li class="<%= 'active' if cName == 'filters' %>">
        <%= link_to "Filters", filters_path %>
      </li>

      <li class="<%= 'active' if cName == 'organizations' %>">
        <%= link_to "Orgs", organizations_path %>
      </li>

    <% end %>
      <li class="new-badge <%= 'active' if cName == 'user_keys' && aName == 'express' %>">
        <%= link_to "Express App", express_app_path %>
      </li>
  <% end %>
</ul>


<%# Right Nav Section %>
<ul id="drop-links" class="right">

  <% if @current_user %>
    <% if @current_user.role? :is_staff %>
      <li class="has-form" id="search-form">
        <div class="collapsed_row">

          <div id="searchbox">
            <div id="search-param" class="s8">
              <%= text_field_tag :term, params[:term], {
                "data-users-search-path" => users_search_path,
                "data-keys-search-path" => user_keys_search_path,
                "data-users-path" => users_path,
                "data-keys-path" => user_keys_path,
                placeholder: 'Search for...'
              } %>
            </div>
            <div id="search-label" class="s4">
              <%= select_tag "search-type-select", options_for_select(["users","keys"]), class: "search-type-select postfix", id: "search-type-select" %>
            </div>
          </div>

        </div>
      </li>
    <% end %>

      <%# Only admin users can look at the settings page %>
      <% if @current_user.role? :admin %>
        <li id="settings" class="<%= 'active' if cName == 'questions' %>">
          <%= link_to questions_path do %>
            <i class="show-for-medium-up fi-widget"></i>
            <div class="show-for-small-only">Settings</div>
          <% end %>
        </li>
      <% end %>

    <%# For medium up %>
      <li class="has-dropdown show-for-medium-up">
        <a href="#">Welcome,&nbsp;<%= @current_user.first_name %></a>
        <ul class="dropdown">

          <li><%= link_to "My Keys", own_user_keys_path %></li>
          <li><%= link_to "Logout", logout_path %></li>

        </ul>
      </li>
    <%# For small %>
      <li class="show-for-small-only"><%= link_to "My Keys", own_user_keys_path %></li>
      <li class="show-for-small-only"><%= link_to "Logout", logout_path %></li>


  <% else %>

    <li><%= link_to "Login", login_path %></li>

  <% end %>

</ul>
