<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= content_for?(:title) ? "#{yield(:title)} - " : nil %>The Bridge API</title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'The Bridge API' %>">
    <meta name="description" content="<%= content_for?(:keywords) ? yield(:keywords) : 'cmu,bridgeapi,thebridge,api,stugov' %>">

    <%= stylesheet_link_tag     'application',      'data-turbolinks-track' => true, media: 'all' %>
    <%= javascript_include_tag  'application',      'data-turbolinks-track' => true %>
    <%= javascript_include_tag  'vendor/modernizr', 'data-turbolinks-track' => true %>

    <%= favicon_link_tag "favicon.ico" %>
    <%= favicon_link_tag "favicon.ico", rel: "apple-touch-icon" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="contain-to-grid">
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <footer>
       <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
